[Unit]
Description=Algo Trading - End Of Day Health Report Timer

[Timer]
OnCalendar=Mon..Fri *-*-* 16:10:00 Asia/Kolkata
Persistent=true
Unit=algo_health_agent_eod.service

[Install]
WantedBy=timers.target
